body,
button,
.btn,
.p-button,
.p-component,
.p-link,
.pi {
  font-size: 1.6rem;
}

table {
  th,
  tr,
  td,
  .p-button,
  .p-component,
  .pi {
    font-size: 1.2rem;
  }
}

h2 {
  font-size: 2.6rem;
  font-weight: 600;
}

h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

.p-inputtext {
  font-size: 1.6rem;
}

