<div class="grid py-4">
  <button pButton type="button" label="Setup Demo" (click)="setUpDemo()"></button>
  <button pButton type="button" label="Setup S1" (click)="setUp1()"></button>
  <button pButton type="button" label="Setup S2" (click)="setUp2()"></button>
  <button pButton type="button" label="Setup S3" (click)="setUp3()"></button>
  <button pButton type="button" label="Setup S4" (click)="setUp4()"></button>
  <button pButton type="button" label="Setup S5" (click)="setUp5()"></button>
  <button pButton type="button" label="Setup S6" (click)="setUp6()"></button>
  <button pButton type="button" label="Setup S7" (click)="setUp7()"></button>
  <button pButton type="button" label="Setup S8" (click)="setUp8()"></button>
  <button pButton type="button" label="Setup S9" (click)="setUp9()"></button>
  <button pButton type="button" label="Setup S10" (click)="setUp10()"></button>
</div>

